# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyd

# Data directories (keep folder structure via .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/lake/*
!data/lake/.gitkeep
data/streaming/*
!data/streaming/.gitkeep
data/plugins/
*.jar

# Databases & local logs
*.mv.db
*.trace.db
dev.duckdb*
!dbt_crypto/dev.duckdb

# dbt artifacts
dbt_crypto/target/
dbt_crypto/dbt_packages/
dbt_crypto/logs/
**/.user.yml

# Editor & OS files
.vscode/
.idea/
*.log
